<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shxy.dazuoye">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity android:name="ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="ui.bottle.BottleCatalog" />
        <activity android:name="ui.history.HistoryBill">

        </activity>
        <activity android:name="ui.bottle.ReceiveBottle" />
        <activity android:name="ui.bottle.ReveiveDetails" />
        <activity android:name="ui.bottle.UpBottleInfo" />
        <activity android:name="ui.task.TaskProgress" />
        <activity android:name="ui.today.TodayMain" />
        <activity android:name="ui.today.UpToday" />
        <activity android:name="ui.login.Register">


        </activity>
        <activity android:name="ui.login.Login"/>
        <activity android:name="ui.self.SelfMain"/>
        <activity android:name="ui.bottle.FriendList"/>
        <activity android:name="ui.bottle.SendBottle"/>
        <activity android:name="ui.self.ChangeInfo"/>
        <activity android:name="ui.history.HistoryDay"/>
        <activity android:name="ui.bottle.SendDetails"/>
    </application>

</manifest>